
package components

css SubTitleClass() {
	font-weight: { "400" };
	font-size: { "18px" };
	color: { "#bababa" };
}

templ SubTitle(title string) {
	<a class={ SubTitleClass() }>
		{ title }
	</a>
}
