
package components

templ SubTitle(text string) {
	@SubTitleStyle()
	<a class="subtitle">
		{ text }
	</a>
}

templ SubTitleStyle() {
	<style>
      .subtitle{
		display: block;
		font-weight: 400;
		color: #bababa;
		text-align: center;
      }  
    </style>
}
