package components

templ Title1(text string) {
	@Title1Style()
	<h2 class="title1">
		{ text }
	</h2>
}

templ Title1Style() {
	<style>
      .title1{
        font-weight: 700;
        font-size: 50px;
        text-align: center;
        color:black ;     
      }  
    </style>
}
