package components

css TitleClass() {
	font-weight: { "700" };
	font-size: { "70px" };
	line-height: { "114%" };
	color: { "#fff" };
	text-align: { "center" };
}

templ Title(title string) {
	<h1 class={ TitleClass() }>
		{ title }
	</h1>
}
