package components

import "time"
import "github.com/rvflash/elapsed"

type VacancyCardProps struct {
	Role        string
	Location    string
	Salary      string
	CompanyType string
	CompanyName string
	Email       string
	Createdat   time.Time
}

templ VacancyCard(props VacancyCardProps) {
	{{ date := elapsed.LocalTime(props.Createdat, "ru") }}
	@VacancyCardStyle()
	<div class="VacancyCard">
		<div class="VacancyCard__left">
			<div class="VacancyCard__left-time">{ date } </div>
			<div class="VacancyCard__left-hero">
				<img src="./public/pictures/vac_card_heroLogo.png" width="40px" height="40px"/>
				<div class="VacancyCard__left-hero-text">
					<div class="VacancyCard__left-hero-header">{ props.Role }</div>
					<div class="VacancyCard__left-hero-headling">{ props.CompanyName }</div>
				</div>
			</div>
			<div class="VacancyCard__left-info">
				<div class="VacancyCard__left-info-block">
					<img src="./public/pictures/briefcase(2) 2.png"/>
					<div class="VacancyCard__left-info-block-text">{ props.CompanyType }</div>
				</div>
				<div class="VacancyCard__left-info-block">
					<img src="./public/pictures/g135.png"/>
					<div class="VacancyCard__left-info-block-text">{ props.Salary }</div>
				</div>
				<div class="VacancyCard__left-info-block">
					<img src="./public/pictures/map-pin.png"/>
					<div class="VacancyCard__left-info-block-text">{ props.Location }</div>
				</div>
			</div>
		</div>
		<div class="VacancyCard__right">
			@Button("Откликнуться")
		</div>
	</div>
}

templ VacancyCardStyle() {
	<style>
        .VacancyCard{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 16px 16px 16px 16px rgba(28, 90, 82, 0.08);
            background: #fff;
            align-items: center;
        } 
        .VacancyCard__left{
            display: flex;
            flex-direction: column;
        }
        .VacancyCard__left-time{
            width: fit-content;
            background: rgba(48, 150, 137, 0.1);
            border-radius: 8px;
            padding: 8px;
            font-size: 16px;
            color: #309689;
            margin-bottom: 24px;
        }
        .VacancyCard__left-hero{
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
        }
        .VacancyCard__left-hero-text{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .VacancyCard__left-hero-header{
          font-weight: 600;
          font-size: 28px;
          color: #000;  
        }
        .VacancyCard__left-hero-headling{
          font-weight: 400;
          font-size: 16px;
          color: #000;
        }
        .VacancyCard__left-info{
            margin-top: 28px;
            display: flex;
            flex-direction: row;
            gap: 24px;
        }
        .VacancyCard__left-info-block{
            display: flex;
            gap: 12px;
        }
        .VacancyCard__left-info-block{
            font-weight: 600;
            font-size: 16px;
            color: #6c757d;
        }
    </style>
}
