
package views

import "mexxx1/golang-fullstack/views/layout"
import "mexxx1/golang-fullstack/views/components"
import "mexxx1/golang-fullstack/views/widgets"

templ Login() {
	@LoginStyle()
	@layout.Layout(layout.LayoutProps{
		Title:           "Войти на сайт",
		MetaDescription: "Страница входа на сайт вакансий",
	}) {
		<main>
			@layout.Header() {
				<div class="LoginPage">
					@components.Title("Войти на сайт")
					@components.SubTitle("Войдите под своей учётной записью")
					@widgets.LoginForm()
				</div>
			}
		</main>
	}
}

templ LoginStyle() {
	<style>
	.LoginPage{
		display: flex;
		flex-direction: column;
		align-items: center ;
	}
	body{
		box-sizing: border-box;
		background: #222222;
	}				
	</style>
}
