package views

import "mexxx1/golang-fullstack/views/components"
import "mexxx1/golang-fullstack/views/layout"


templ Main() {
    <main>
    @layout.Header(){
       @components.Title("Найди работу своей мечты!")  
    }
    </main>
}