package views

import "mexxx1/golang-fullstack/views/components"
import "mexxx1/golang-fullstack/views/layout"
import "mexxx1/golang-fullstack/views/widgets"

import "mexxx1/golang-fullstack/internal/vacancy"

templ Main(vacancies []vacancy.Vacancy, pageCount, page int) {
	@MainStyle()
	@layout.Layout(layout.LayoutProps{
		Title:           "Найди работу мечты",
		MetaDescription: "Сайт по поиску работы мечты",
	}) {
		<main>
			@layout.Header() {
				@components.Title("Найди работу своей мечты !")
				@components.SubTitle("Простой поиск работы")
			}
			@widgets.VacancyForm()
			@widgets.VacancyList(vacancies, pageCount, page)
		</main>
	}
}

templ MainStyle() {
	<style>
	.body{
		box-sizing: border-box;
	}				
	</style>
}
