package widgets

import "mexxx1/golang-fullstack/views/components"

templ VacancyForm() {
	@VacancyFormStyle()
	<div class="VacancyForm">
		<div class="VacancyForm_wrapper">
			<div id="vacancy-result"></div>
			<form hx-post="/vacancy" hx-trigger="submit" hx-target="#vacancy-result" hx-swap="innerHTML">
				<div class="VacancyForm__titles">
					@components.Title1("Опубликовать вакансию")
					@components.SubTitle("Введите все необходимые данные для публикации")
				</div>
				<div class="VacancyForm__inputs">
					@components.Input(components.InputData{
						Name:        "role",
						Placeholder: "Должность",
					})
					@components.Input(components.InputData{
						Name:        "company",
						Placeholder: "Сфера Компании"})
					@components.Input(components.InputData{
						Name:        "Location",
						Placeholder: "Расположение",
					})
					@components.Input(components.InputData{
						Name:        "nameCompany",
						Placeholder: "Название компании",
					})
					@components.Input(components.InputData{
						Name:        "Zp",
						Placeholder: "Заработная плата",
					})
					@components.Input(components.InputData{
						Name:        "email",
						Placeholder: "Контактный email",
					})
				</div>
				@components.ButtonForm("Опубликовать вакансию")
			</form>
		</div>
	</div>
}

templ VacancyFormStyle() {
	<style>
		.VacancyForm{
			display: flex;
			justify-content: center;
			padding: 60px 0 120px 0;
		    background: rgba(48, 150, 137, 0.1);;
		}
       .VacancyForm_wrapper{
			max-width:894px ;
			width: 100%;
       }    

		.VacancyForm__titles{
			display: flex;
			flex-direction: column;
			gap: 40px;
			margin-bottom: 60px;
			




		}

       .VacancyForm_wrapper form{ width: 100%; display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
       }    
	   #vacancy-result{
			width: 100%;
	   }



	   .VacancyForm__inputs{
			width: 100%;
			display: grid;
			grid-template-columns: repeat(2 , 1fr);
			row-gap: 30px;
			column-gap: 24px;
			align-items: center;
			justify-content: center;
			margin-bottom: 30px;
		
	   }
        
    </style>
}
