package layout

import "mexxx1/golang-fullstack/views/components"

templ Menu() {
	@MenuStyle()
	<div class="menu">
		<a href="/" class="menu__left">
			<img src="./public/pictures/check.png"/>
			<div class="menu__left-text">Моя работа</div>
		</a>
		<div class="menu__right">
			<a class="menu__right-link" href="/login">Войти</a>
			@components.Button("Зарегистрироваться")
		</div>
	</div>
}

templ MenuStyle() {
	<style>
        .menu{
            display: flex;
            justify-content: space-between;
            padding: 20px 70px 50px 70px;
        }  
        .menu__left{
            display: flex;
            gap: 12px;
            align-items: center;
            cursor:pointer ;
            text-decoration: none;
            color: white;
            font-size: 16px;
        }
        .menu__right{
            display: flex;
            gap: 12px;
            align-items: center;
            cursor:pointer ;
            text-decoration: none;
            color: white;
            font-size: 16px;
        }
        .menu__right-link{
            text-decoration: none;
            color: white;
        }
        
    </style>
}
